@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.debug{
  outline: 1px solid red;
}

.vt {
  font-family: var(--font-vt);
}

.geistSans {
  font-family: var(--font-geist-sans);
  font-weight: 200;
  color: #5c5cff;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
